<style>
  h1,
h2,
h3,
h4 {
    line-height: 1.3;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

img {
    width: 100%;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 2rem;
}

.section-a {
    margin: 2rem 0;
}



.section-a h1 {
    font-size: 4rem;
    color: var(--primary-color);
}

.section-a p {
    margin: 1rem 0;
}

</style>

{% if section.settings.product != blank  %}
{%- assign product = all_products[section.settings.product] -%}
<section class="section-a">
    <div class="container">
        <div class="row">
            <div class="col-md-7">{{ section.settings.product.images.first  | img_url: '2048x' | img_tag }}</div>
            <div class="col-md-5">
                <h1>{{ section.settings.product }}</h1>
              {% if section.settings.price %}
                <h3>Rs. {{ section.settings.product.price }}</h3>
              {% endif %}
              <p class="text-{{ section.settings.alignment }}">{{ section.settings.product.description }}</p>
              <input type="number" value="{{ product.selected_or_first_available_variant.id }}" id="test_product_id" >
              <input type="number" value="1" id="test_qty" >
                <button class="btn btn-success btn-lg py-2 px-2 my-2 mx-2" id="btn-cart">CART</button>
            </div>
        </div>
    </div>
</section>

{% else %}
  <section class="section-a">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
              {{ section.settings.image_2 | img_url: '2048x' | img_tag }}
            </div>
            <div class="col-md-5">
                <h1>{{ section.settings.heading_2 }}</h1>
              {% if section.settings.price %}
                <h3>Rs. {{ section.settings.price }}</h3>
              {% endif %}
              <p class="text-{{ section.settings.alignment }}">{{ section.settings.desc }}</p>
                <button class="btn btn-success btn-lg py-2 px-2 my-2 mx-2">SOLD OUT</button>
            </div>
        </div>
    </div>
</section>
{% endif %}

<cart-drawer class="drawer animate active">
  <div id="CartDrawer" class="cart-drawer">
    <div id="CartDrawer-Overlay" class="cart-drawer__overlay"></div>
    <div class="drawer__inner gradient color-scheme-1" role="dialog" aria-modal="true" aria-label="Your cart" tabindex="-1"><div class="drawer__header">
        <h2 class="drawer__heading">Your cart</h2>
        <button class="drawer__close" type="button" onclick="this.closest('cart-drawer').close()" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-close" fill="none" viewBox="0 0 18 17">
  <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
</path></svg>

        </button>
      </div>
      <cart-drawer-items>
        <form action="/cart" id="CartDrawer-Form" class="cart__contents cart-drawer__form" method="post">
          <div id="CartDrawer-CartItems" class="drawer__contents js-contents"><div class="drawer__cart-items-wrapper">
                <table class="cart-items" role="table">
                  <thead role="rowgroup">
                    <tr role="row">
                      <th id="CartDrawer-ColumnProductImage" role="columnheader">
                        <span class="visually-hidden">Product image</span>
                      </th>
                      <th id="CartDrawer-ColumnProduct" class="caption-with-letter-spacing" scope="col" role="columnheader">
                        Product
                      </th>
                      <th id="CartDrawer-ColumnTotal" class="right caption-with-letter-spacing" scope="col" role="columnheader">
                        Total
                      </th>
                      <th id="CartDrawer-ColumnQuantity" role="columnheader">
                        <span class="visually-hidden">Quantity</span>
                      </th>
                    </tr>
                  </thead>

                  <tbody role="rowgroup"><tr id="CartDrawer-Item-1" class="cart-item" role="row">
                        <td class="cart-item__media" role="cell" headers="CartDrawer-ColumnProductImage">
                          
                            
                            <a href="/products/rainier-stone-flooring-blocks?variant=43588336517310" class="cart-item__link" tabindex="-1" aria-hidden="true"> </a>
                            <img class="cart-item__image" src="//cdn.shopify.com/s/files/1/0649/0059/5902/products/AgedTeak-min_e04fbea3-0abf-421c-aa94-23c9655d4fc5.jpg?v=1708938256&amp;width=300" alt="Rainier Stone Flooring Blocks" loading="lazy" width="150" height="150">
                          
                        </td>

                        <td class="cart-item__details" role="cell" headers="CartDrawer-ColumnProduct"><a href="/products/rainier-stone-flooring-blocks?variant=43588336517310" class="cart-item__name h4 break">Rainier Stone Flooring Blocks</a><div class="product-option">
                              Rs. 119.50
                            </div><dl><div class="product-option">
                                    <dt>Color:</dt>
                                    <dd>
                                      Aged Teak
                                    </dd>
                                  </div></dl>

                            <p class="product-option"></p><ul class="discounts list-unstyled" role="list" aria-label="Discount"></ul>
                        </td>

                        <td class="cart-item__totals right" role="cell" headers="CartDrawer-ColumnTotal">

<link href="//cdn.shopify.com/s/files/1/0649/0059/5902/t/3/assets/component-loading-spinner.css?v=116724955567955766481709099976" rel="stylesheet" type="text/css" media="all">

<div class="loading__spinner hidden">
  <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
  </svg>
</div>
<div class="cart-item__price-wrapper"><span class="price price--end">
                                Rs. 597.50
                              </span></div>
                        </td><td class="cart-item__quantity " role="cell" headers="CartDrawer-ColumnQuantity">
                          <quantity-popover>
                            <div class="cart-item__quantity-wrapper quantity-popover-wrapper">
                              <div class="quantity-popover-container">
                                <quantity-input class="quantity cart-quantity">
                                  <button class="quantity__button no-js-hidden" name="minus" type="button">
                                    <span class="visually-hidden">Decrease quantity for Rainier Stone Flooring Blocks</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-minus" fill="none" viewBox="0 0 10 2">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M.5 1C.5.7.7.5 1 .5h8a.5.5 0 110 1H1A.5.5 0 01.5 1z" fill="currentColor">
</path></svg>

                                  </button>
                                  <input class="quantity__input" type="number" data-quantity-variant-id="43588336517310" name="updates[]" value="5" data-cart-quantity="5" min="1" step="1" aria-label="Quantity for Rainier Stone Flooring Blocks" id="Drawer-quantity-1" data-index="1">
                                  <button class="quantity__button no-js-hidden" name="plus" type="button">
                                    <span class="visually-hidden">Increase quantity for Rainier Stone Flooring Blocks</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-plus" fill="none" viewBox="0 0 10 10">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M1 4.51a.5.5 0 000 1h3.5l.01 3.5a.5.5 0 001-.01V5.5l3.5-.01a.5.5 0 00-.01-1H5.5L5.49.99a.5.5 0 00-1 .01v3.5l-3.5.01H1z" fill="currentColor">
</path></svg>

                                  </button>
                                </quantity-input>
                              </div>
                              <cart-remove-button id="CartDrawer-Remove-1" data-index="1">
                                <button type="button" class="button button--tertiary cart-remove-button" aria-label="Remove Rainier Stone Flooring Blocks - Aged Teak" data-variant-id="43588336517310">
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true" focusable="false" class="icon icon-remove">
  <path d="M14 3h-3.53a3.07 3.07 0 00-.6-1.65C9.44.82 8.8.5 8 .5s-1.44.32-1.87.85A3.06 3.06 0 005.53 3H2a.5.5 0 000 1h1.25v10c0 .28.22.5.5.5h8.5a.5.5 0 00.5-.5V4H14a.5.5 0 000-1zM6.91 1.98c.23-.29.58-.48 1.09-.48s.85.19 1.09.48c.2.24.3.6.36 1.02h-2.9c.05-.42.17-.78.36-1.02zm4.84 11.52h-7.5V4h7.5v9.5z" fill="currentColor"></path>
  <path d="M6.55 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5zM9.45 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5z" fill="currentColor"></path>
</svg>

                                </button>
                              </cart-remove-button>
                            </div><div id="CartDrawer-LineItemError-1" class="cart-item__error" role="alert">
                              <small class="cart-item__error-text"></small>
                              <svg aria-hidden="true" focusable="false" class="icon icon-error" viewBox="0 0 13 13">
                                <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"></circle>
                                <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"></circle>
                                <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"></path>
                                <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                              </path></svg>
                            </div>
                          </quantity-popover>
                        </td>
                      </tr></tbody>
                </table>
              </div><p id="CartDrawer-LiveRegionText" class="visually-hidden" role="status"></p>
            <p id="CartDrawer-LineItemStatus" class="visually-hidden" aria-hidden="true" role="status">
              Loading...
            </p>
          </div>
          <div id="CartDrawer-CartErrors" role="alert"></div>
        </form>
      </cart-drawer-items>
      <div class="drawer__footer"><!-- Start blocks -->
        <!-- Subtotals -->

        <div class="cart-drawer__footer">
          <div></div>

          <div class="totals" role="status">
            <h2 class="totals__total">Estimated total</h2>
            <p class="totals__total-value">Rs. 597.50</p>
          </div>

          <small class="tax-note caption-large rte">Taxes, discounts and shipping calculated at checkout
</small>
        </div>

        <!-- CTAs -->

        <div class="cart__ctas">
          <noscript>
            <button type="submit" class="cart__update-button button button--secondary" form="CartDrawer-Form">
              Update
            </button>
          </noscript>

          <button type="submit" id="CartDrawer-Checkout" class="cart__checkout-button button" name="checkout" form="CartDrawer-Form">
            Check out
          </button>
        </div>
      </div>
    </div>
  </div>
</cart-drawer>


<script>
  $('#btn-cart').click(function() 
{
  var id= $('#test_product_id').val();
  console.log(id);
    $.ajax
    ({ 
        type: 'POST',
        url: '/cart.js',
        data: {
            quantity: 1,
            id: $('#test_product_id').val()
          },
        dataType: 'json', 
         success: function (data) { 
          $.ajax({
                url: '/?section_id=cart-drawer',
                type: 'GET',
                dataType: 'html',
                success:function(carthtml) {
                  $('cart-drawer').html($(carthtml).find('cart-drawer').html());
                }
              });
         } 
    });
});
</script>

{% schema %}
  {
    "name": "cust-feat-product",
    "settings": [
      {
      "type": "product",
      "id": "product",
      "label": "Select Product"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "choose image"
    },
    {
      "type": "number",
      "id": "price",
      "label": "product price"
    },
    {
      "type": "text",
      "id": "desc",
      "default": "Description",
      "label": "description",
      "info": "Description"
    },{
      "type": "select",
      "id": "alignment",
      "options": [
        {
          "value": "left",
          "label": "left"
        },
        {
          "value": "center",
          "label": "center"
        },{
          "value": "justify",
          "label": "justify"
        },
        {
          "value": "right",
          "label": "right"
        }
      ],
      "default": "justify",
      "label": "Description Alignment"
    },
    {
      "type": "inline_richtext",
      "id": "heading_2",
      "default": "Heading",
      "label": "heading",
      "info": "Heading"
    }
    ],
    "presets": [
    {
      "name": "cust-feat-product"
    }
  ]
  }
{% endschema %}